article
  h2.sub-heading
    | Books
  ol
    li
      | JavaScript &amp; jQuery: The Missing Manual, 3rd Edition; By David Sawyer McFarland
    li
      | JavaScript: The Good Parts; By John Resig and Bear Bibeault
    li
      | Secrets of the JavaScript Ninja; By Douglas Crockford
    li
      | Eloquent Javascript; By Marijn Haverbeke

article
  h2.sub-heading
    | Videos
  ol
    li
      a(href="https://www.youtube.com/watch?v=JxAXlJEmNMg") Crockford on JavaScript - Volume 1: The Early Years
    li
      a(href="https://www.youtube.com/watch?v=RO1Wnu-xKoY&list=PL7664379246A246CB&index=2") Crockford on JavaScript - Chapter 2: And Then There Was JavaScript
    li
      a(href="https://www.youtube.com/watch?v=ya4UHuXNygM") Crockford on JavaScript - Act III: Function the Ultimate
    li
      a(href="https://www.youtube.com/watch?v=Fv9qT9joc0M&list=PL7664379246A246CB&index=4") Crockford on JavaScript - Episode IV: The Metamorphosis of Ajax
    li
      a(href="https://www.youtube.com/watch?v=47Ceot8yqeI&list=PL7664379246A246CB&index=5") Crockford on JavaScript - Part 5: The End of All Things
    li
      a(href="https://www.youtube.com/watch?v=QgwSUtYSUqA&index=6&list=PL7664379246A246CB") Crockford on JavaScript - Scene 6: Loopage
    li
      a(href="https://www.youtube.com/watch?v=UTEqr0IlFKY&list=PL7664379246A246CB&index=7") Crockford on JavaScript - Level 7: ECMAScript 5: The New Parts
    li
      a(href="https://www.youtube.com/watch?v=taaEzHI9xyY&list=PL7664379246A246CB&index=8") Crockford on JavaScript - Section 8: Programming Style &amp; Your Brain

article
  h2.sub-heading
    | Online Reading
  ol
    li
      a(href="http://exploringjs.com/es6/index.html") Exploring ES6
