extends ../../template/_default-layout.jade

block title
  title JavaScript: Books to read

block content
  div.container
    include ../../template/_navigation.jade
    section.page-content
      h1.page-heading JavaScript: Books to read
      include _sub-pages.jade
