extends ../../template/_default-layout.jade

block title
  title Learning by experience

block content
  div.container
    include ../../template/_navigation.jade
    section.page-content
      h1.page-heading Learning by experience
      include _sub-pages.jade
