ul
  li
    | Go to User's home directory
    div.code-block
      pre
        code.hljs.bash
          | cd
  li
    | Create a file
    div.code-block
      pre
        code.hljs.bash
          | touch &lt;file_name&gt;
  li
    | Open a file in text edit
    div.code-block
      pre
        code.hljs.bash
          | open &lt;file_name&gt;
  li
    | List hidden files
    div.code-block
      pre
        code.hljs.bash
          | ls -la
