extends ../../template/_default-layout.jade

block title
  title MAC OS Terminal Commands

block content
  div.container
    include ../../template/_navigation.jade
    section.page-content
      h1.page-heading MAC OS Terminal Commands
      include _sub-pages.jade
