extends ../template/_default-layout.jade

block title
  title Index

block content
  div.container
    include ../template/_navigation.jade
    section.page-content
      h1.page-heading Article(s)
      article
        h2.sub-heading 
          | Snippets
        ul
          li
            a(href="/topic/get-url-query-string") Get URL query string
          li
            a(href="/topic/applying-placeholder-style") Applying placeholder style
      
      article
      h2.sub-heading 
        | General
      ul
        li
          a(href="/topic/learning-by-experience") Learning by experience
        li
          a(href="/topic/javascript-books-and-online-tuts") JavaScript: books and online tuts
        li
          a(href="/topic/terminology") Terminology
        li
          a(href="/topic/handy-links") Handy links
        li
          a(href="/topic/html-interview-question-and-answers") HTML inteview question and answers
        li
          a(href="/topic/css-interview-question-and-answers") CSS inteview question and answers
        li
          a(href="/topic/javascript-interview-question-and-answers") JavaScript inteview question and answers
        li
          a(href="/topic/make-alias-in-bash-Shell-in-os-x-terminal") Make alias in bash shall in OS X terminal
        li
          a(href="/topic/mac-os-terminal-commands") MAC OS Terminal Commands

      article
      h2.sub-heading
        | Tutorials
      ul
        li
          a(href="/topic/git-notes") GIT notes
        li 
          a(href="/topic/essential-git-commands") Essential GIT commands

      article
      h2.sub-heading 
        | My Favorite
      ul
        li
          a(href="/topic/quotes") Quotes
