table.col-2.striped
  caption
    | Cloning a repo
  tr
    td
      | Clone a repo
    td
      code
        | git clone &lt;repo&gt;

table.col-2.striped
  caption
    | View/Switch/Create/Delete branch
  tr
    td
      | View branch
    td
      code
        | git branch
  tr
    td
      | View all branches (local &amp; remote)
    td
      code
        | git branch -ra
  tr
    td
      | Switch to an existing branch
    td
      code
        | git checkout &lt;existing_branch_name&gt;
  tr
    td
      | Create and switch to a new branch
    td
      code
        | git checkout -b &lt;new_branch_name&gt;
  tr
    td
      | Delete to a branch
    td
      code
        | git checkout -d &lt;existing_branch_name&gt;
  tr
    td
      | Unable to see a newly created remote branch?
    td
      | # do a 'git pull' to fetch branch updates
      | <br />
      code
        | git pull
      | <br />
      | # now do a 'git branch'
      | <br />
      code
        | git branch
  
table.col-2.striped
  caption
    | View status, differences and commit changes
  tr
    td
      | View status
    td
      code
        | git status
  tr
    td
      | View difference
    td
      code
        | git diff &lt;file&gt;
  tr
    td
      | Add files to staging
    td
      code
        | git add &lt;file&gt;
      | <br />
      code
        | git add .
  tr
    td
      | Commit to repo
    td
      code
        | git commit -m "&lt;commit_message&gt;"
  
table.col-2.striped
  caption
    | Undo
  tr
    td
      | Unstage a file
    td
      code
        | git reset &lt;file&gt;
  tr
    td
      | Unstage all files
    td
      code
        | git reset
  tr
    td
      | Discard all local changes and reset staging area 
      | <br />
      | ( local changes will be lost permanently; use with caution )
    td
      code
        | git reset --hard

table.col-2.striped
  caption
    | Pull and push changes
  tr
    td
      | Pull changes from repo
    td
      code
        | git pull
  tr
    td
      | Pull changes from different branch
    td
      code
        | git pull origin &lt;branch&gt;
  tr
    td
      | Push local changes to repo
    td
      code
        | git push
  tr
    td
      | Force push local changes to repo
    td
      code
        | git push -f

table.col-2.striped
  caption
    | Create/View/Apply/Drop Stash
  tr
    td
      | Create stash
    td
      code
        | git stash save "&lt;save_message&gt;"
  tr
    td
      | View stash
    td
      code
        | git stash list
  tr
    td
      | Apply stash
    td
      code
        | git stash apply stash@{&lt;index&gt;}
  tr
    td
      | Drop stash
    td
      code
        | git stash drop stash@{&lt;index&gt;}


table.col-2.striped
  caption
    | View commits
  tr
    td
      | View last 5 commit history
    td
      code
        | git log -5
  tr
    td
      | View last 5 commit history in condensed format
    td
      code
        | git log -5 --oneline
  tr
    td
      | View last 5 commit containing the specific file
    td
      code
        | git log -5 --oneline -- src/public/main.css
  tr
    td
      | View last 5 commit by specific author
    td
      code
        | git log -5 --oneline --author="Smith"

table.col-2.striped
  caption
    | Configure user name and email
  tr
    td
      | Configure user name in the current repo
    td
      code
        | git config user.name "&lt;name&gt;"
  tr
    td
      | Configure user email in the current repo
    td
      code
        | git config user.email "&lt;email&gt;"
  tr
    td
      | Configure user name globally
    td
      code
        | git config --global user.name "&lt;name&gt;"
  tr
    td
      | Configure user email globally
    td
      code
        | git config --global user.email "&lt;email&gt;"
  
