dl.query-list
  dt
    | Initialize existing directory as a GIT repo
  dd
    | git init

dl.query-list
  dt
    | cloning a repo
  dd
    | git clone

dl.query-list
  dt
    | pull in latest changes from repo
  dd
    | git pull

dl.query-list
  dt
    | checkout a branch
  dd
    | git checkout &lt;branch_name&gt;

dl.query-list
  dt
    | compare local changes with repo
  dd
    | git diff

dl.query-list
  dt
    | view status of working directory and staging area
  dd
    | git status

dl.query-list
  dt
    | add files to staging area
  dd
    | git add

dl.query-list
  dt
    | commit staged files
  dd
    | git commit

dl.query-list
  dt
    | push commits from local repo to remote
  dd
    | git push

dl.query-list
  dt
    | remove files from staging area, withouth reverting local changes
  dd
    | git reset

dl.query-list
  dt
    | undo local changes and reset file
  dd
    | git reset --hard


dl.query-list
  dt
    | undo local changes and reset file to the last commit
  dd
    | git reset --hard HEAD~1

dl.query-list
  dt
    | list all commits in the current branch
  dd
    | git log

dl.query-list
  dt
    | limit number of commits display in the current branch
  dd
    | git log -n &lt;limit&gt;

dl.query-list
  dt
    | view all changes since first commit
  dd
    | git log -p

dl.query-list
  dt
    | view list of commits made by a author
  dd
    | git log --author="&lt;string|regex&gt;"



