div.panel.panel-primary
  div.panel-heading
    h3.panel-title Categories Of Design Pattern
  div.panel-body
    ol
      li
        strong Creational Design Patterns
        p Based on the concept of creating an object.
        p Eg: Constructor, Factory, Abstract, Prototype, Singleton and Builder.
      li
        strong Structural Design Patterns
        p Based on the idea of building object composition i.e.  how object's data and methods are structed.
        p Eg: Decorator, Facade, Flyweight, Adapter and Proxy.
      li
        strong Behavioral Design Patterns
        p Based on the way objects play and work together i.e. communication
        p Eg: Iterator, Mediator, Observer and Visitor.
