div.panel.panel-success
  div.panel-heading
    h3.panel-title The Module Pattern
  div.panel-body
    h4 Modules
    p Modules enable cleanly separated and organized code.
    h4 Different ways of implementing modules in JS:
    ul
      li The Module pattern
      li Object literal notation
      li AMD modules
      li CommonJS modules
      li ECMAScript Harmony modules

