section
  h2 Ref
  ul
    li
      a(href="https://addyosmani.com/resources/essentialjsdesignpatterns/book/") https://addyosmani.com/resources/essentialjsdesignpatterns/book/
    li
      a(href="http://shichuan.github.io/javascript-patterns/") http://shichuan.github.io/javascript-patterns/
    li
      a(href="http://code.tutsplus.com/tutorials/understanding-design-patterns-in-javascript--net-25930") http://code.tutsplus.com/tutorials/understanding-design-patterns-in-javascript--net-25930
    li
      a(href="https://medium.com/javascript-scene/the-open-minded-explorer-s-guide-to-object-composition-88fe68961bed#.4g0jk27rc") https://medium.com/javascript-scene/the-open-minded-explorer-s-guide-to-object-composition-88fe68961bed#.4g0jk27rc
    li
      a(href="http://stackoverflow.com/questions/8696695/composition-inheritance-and-aggregation-in-javascript") http://stackoverflow.com/questions/8696695/composition-inheritance-and-aggregation-in-javascript
    li
      a(href="https://github.com/tfmontague/definitive-module-pattern") https://github.com/tfmontague/definitive-module-pattern
