extends ../../../template/_default-layout.jade

block title
  title JavaScript Introduction

block content
  div.container
    include ../../../template/_navigation.jade
    div.article-navigator
      span.prev
        a(href="/javascript-language/", title="previous article") JavaScript Language
      span.next
        a(href="/javascript-language/function-basics", title="next article") Function basics

    section.page-navigation
      ul.list
        li
          <a href="#bmJavascript">JavaScript</a>
        li
          <a href="#bmECMAScript">ECMAScript</a>
        li
          <a href="#bmHistory">History</a>
        li
          <a href="#bmRef">Ref</a>

    section.page-content
      h1.page-title JavaScript Introduction
      include ../_breadcrumb.jade
      section.batch
        article.group
          h3.group-title#bmJavascript
            | JavaScript
          div.group-content
            div.group-main
              | a high-level, dynamic and interpreted programming language
            ul.list
              li
                | JavaScript is prototype-based with first-class functions
              li
                | Inside a host environment (for example, a web browser, a node web server), JavaScript can be connected to the objects of its environment to provide programmatic control over them.
              li
                | Eg: Web browser and 'document' object;

        article.group
          h3.group-title#bmECMAScript
            | ECMAScript
          div.group-content
            div.group-main
              | official name of JavaScript;
            ul.list
              li
                | JavaScript is standardized at Ecma International — the European association for standardizing information and communication systems to deliver a standardized, international programming language based on JavaScript.

        article.group
          h3.group-title#bmHistory
            | History
          div.group-content
            div.group-main
              | developed in May 1995 by Brendan Eich, for Netscape Communications

        article.group
          h3.group-title#bmRef
            | Ref
          div.group-content
            ul.list
              li
                a(href="https://en.wikipedia.org/wiki/JavaScript") https://en.wikipedia.org/wiki/JavaScript

    div.article-navigator
      span.prev
        a(href="/javascript-language/", title="previous article") JavaScript Language
      span.next
        a(href="/javascript-language/function-basics", title="next article") Function basics
