extends ../../template/_default-layout.jade

block title
  title Useful Links

block content
  div.container
    include ../../template/_navigation.jade
    section.page-content
      h1.page-title
        | Useful Links
      ul
        li
          a(href="http://www.fileformat.info/info/unicode/index.htm") unicode character list

