extends ../../template/default-layout.jade

block title
  title JavaScript Language

block content
  div.container
    include ../../template/navigation.jade
    section.page-content
      h1.page-title JavaScript Language
      include _sub-pages.jade
