extends ../../template/_default-layout.jade

block title
  title ToDo

block content
  div.container
    include ../../template/_personal-navigation.jade
    section.page-content
      h1.page-heading ToDo(s)
      ul
        li work on safari back-button cache issue         
