extends ../template/default-layout.jade

block title
  title Index

block content
  div.container
    include ../template/navigation.jade
    section.page-content
      ul
        li
          a(href="/fibonacci-sequence.html") Fibonacci Sequence
        li
          a(href="/quotes.html") Quotes
        li
          a(href="/patterns/") JS Patterns
        li
          a(href="/javascript-language/") Javascript language
        li
          a(href="/useful-links/") Useful Links
