extends ../template/default-layout.jade

block title
  title Index

block content
  div.container
    include ../template/navigation.jade
    ul
      li
        a(href="/fibonacci-sequence.html") Fibonacci Sequence
