extends ../template/default-layout.jade

block title
  title JS Patterns

block content
  div.container
    include ../template/navigation.jade
    section
      h1 JS Patterns
      p Pattern is a reusable software solution to a specific type of problem that occurs frequently when developing software.
      h2 Categories Of Design Pattern
      ol
        li
          h3 Creational Design Patterns
          p how to create objects/instances
          p Eg: Constructor, Factory, Abstract, Prototype, Singleton and Builder.
        li
          h3 Structural Design Patterns
          p focuses on object composition i.e. how object's properties ( data and functions ) are structed.
          p Eg: Decorator, Facade, Flyweight, Adapter and Proxy.
        li
          h3 Behavioral Design Patterns
          p how does the objects/instances communicate with each other
          p Eg: Iterator, Mediator, Observer and Visitor.


      section
        h2 Ref
        ul
          li
            a(href="https://addyosmani.com/resources/essentialjsdesignpatterns/book/") https://addyosmani.com/resources/essentialjsdesignpatterns/book/
          li
            a(href="http://shichuan.github.io/javascript-patterns/") http://shichuan.github.io/javascript-patterns/
          li
            a(href="http://code.tutsplus.com/tutorials/understanding-design-patterns-in-javascript--net-25930") http://code.tutsplus.com/tutorials/understanding-design-patterns-in-javascript--net-25930
          li
            a(href="https://medium.com/javascript-scene/the-open-minded-explorer-s-guide-to-object-composition-88fe68961bed#.4g0jk27rc") https://medium.com/javascript-scene/the-open-minded-explorer-s-guide-to-object-composition-88fe68961bed#.4g0jk27rc
          li
            a(href="http://stackoverflow.com/questions/8696695/composition-inheritance-and-aggregation-in-javascript") http://stackoverflow.com/questions/8696695/composition-inheritance-and-aggregation-in-javascript
