extends ../template/default-layout.jade

block title
  title Quotes

block content
  div.container
    include ../template/navigation.jade
    section
      h1 Quotes
      ul
        li
          | if you want to be a lion, you must train with lions
          | <br>
          | - carlson gracie
