extends ../../template/_default-layout.jade

block title
  title Trim space

block content
  div.container
    include ../../template/_navigation.jade
    section.page-content
      h1.page-heading Trim space
      include _sub-pages.jade
