article
  h2.sub-heading
    | Lorem Ipsum
  ol
    li
      a(href="http://www.lipsum.com/") Lorem Ipsum

article
  h2.sub-heading
    | Editors
  ol
    li
      a(href="https://babeljs.io/repl/") es6 Editor
    li
      a(href="http://dillinger.io/") dillinger markdown Editor
    li
      a(href="https://jsfiddle.net/") jsfiddle
    li
      a(href="http://codepen.io/") codepen
    li
      a(href="https://jsbin.com/") jsbin

article
  h2.sub-heading
   | Validators
  ol
    li
      a(href="http://jshint.com/") JS Hint Validator
    li
      a(href="http://pro.jsonlint.com/") JSON Validator
    li
      a(href="https://jigsaw.w3.org/css-validator/") CSS Validator
    li
      a(href="https://validator.w3.org/") Markup Validator

article
  h2.sub-heading
    | Minifiers
  ol
    li
      a(href="http://www.willpeavy.com/minifier/") HTML/CSS/JS Minifier
    li
      a(href="http://www.httputility.net/json-minifier.aspx") JSON Minifier

article
  h2.sub-heading
    | HTML Entities
  ol
    li
      a(href="http://entity-lookup.leftlogic.com/") entity lookup
article
  h2.sub-heading
    | Collection of Tools
  ol
    li
      a(href="http://www.danstools.com/") Danstools ( Minification, Escape HTML Entities, JSON Validator and Many more)

article
  h2.sub-heading
    | URL Shortener
  ol
    li
      a(href="https://bitly.com/") bitly
    li
      a(href="https://goo.gl/") google url shortener


article
  h2.sub-heading
   | Fonts
  ol
    li
      a(href="https://icomoon.io/app/#/select") icomoon Icon Font Generator
    li
      a(href="http://fontello.com/") SVG to Font icons
    li
      a(href="http://www.fontsquirrel.com/") Font squirrel
    li
      a(href="https://www.google.com/fonts") Google Fonts
    li
      a(href="https://www.typetester.org/") Typetester

article
  h2.sub-heading
    | debuggers
  ol
    li
      a(href="https://chrome.google.com/webstore/detail/knockoutjs-context-debugg/oddcpmchholgcjgjdnfjmildmlielhof?hl=en") Knockout Debugger Extension

article
  h2.sub-heading
    | Unicode Characters
  ol
    li
      a(href="http://www.fileformat.info/info/unicode/index.htm") Unicode character list

article
  h2.sub-heading
    | QR Code
  ol
    li
      a(href="https://qrcode.kaywa.com/") qrcode.kaywa.com
    li
      a(href="https://www.the-qrcode-generator.com/") the-qrcode-generator

article
  h2.sub-heading
    | Email Templates
  ol
    li
      a(href="https://www.campaignmonitor.com/email-templates/") Campaign Monitor
