dl.query-list
  dt
    | JavaScript was developed by?
  dd
    | answer 

dl.query-list
  dt
    | What are first-class-functions?
  dd
    | answer 

dl.query-list
  dt
    | What is JSON?
  dd
    | answer 

dl.query-list
  dt
    | What is closure?
  dd
    | answer 

dl.query-list
  dt
    | Is JavaScript single-threaded or multi-threaded?
  dd
    | answer 

dl.query-list
  dt
    | Is JavaScript synchronous or asynchronous?
  dd
    | answer 

dl.query-list
  dt
    | What does 'this' keyword imply?
  dd
    | answer 

dl.query-list
  dt
    | What is the use of 'arguments' keyword?
  dd
    | answer 

dl.query-list
  dt
    | What is the output of .1 + .2?
  dd
    | answer 
