dl.query-list
  dt
    | JavaScript was developed by?
  dd
    | answer 

dl.query-list
  dt
    | What are first-class-functions?
  dd
    | answer 

dl.query-list
  dt
    | What is JSON?
  dd
    | answer 

dl.query-list
  dt
    | What is closure?
  dd
    | answer 

dl.query-list
  dt
    | Immediately-invoked function expression
  dd
    | answer 

dl.query-list
  dt
    | What is hoisting?
  dd
    | answer 

dl.query-list
  dt
    | Types of scope in JavaScript? 
  dd
    | answer

dl.query-list
  dt
    | Is JavaScript single-threaded or multi-threaded?
  dd
    | answer 

dl.query-list
  dt
    | Is JavaScript synchronous or asynchronous?
  dd
    | answer 

dl.query-list
  dt
    | What does 'this' keyword imply?
  dd
    | answer 

dl.query-list
  dt
    | What is the use of 'arguments' keyword?
  dd
    | answer 

dl.query-list
  dt
    | What is the output of .1 + .2?
  dd
    | answer 

dl.query-list
  dt
    | What is the difference between scripting and programming language
  dd
    | answer 

dl.query-list
  dt
    | What are the data types in javascript?
  dd
    | answer 

dl.query-list
  dt
    | How to know the data type of a variable?
  dd
    | answer 

dl.query-list
  dt
    | disadvantage of typeof operator withrespect to object and arrays data types
  dd
    | answer 

dl.query-list
  dt
    | what is the result of: null &amp;&amp; 'hello world'
  dd
    | answer 

dl.query-list
  dt
    | what is the result of: true &amp;&amp; true &amp;&amp; 12345
  dd
    | answer 

dl.query-list
  dt
    | Default value of uninitailized variable?
  dd
    | answer

dl.query-list
  dt
    | what is the result of: null || 'hello world'
  dd
    | answer 

dl.query-list
  dt
    | what is the result of: false || "" || 0 || [] || true
  dd
    | answer 

dl.query-list
  dt
    | difference between '==' and '==='
  dd
    | answer 

dl.query-list
  dt
    | what is the result of: '&nbsp;&nbsp;' == '' ( i.e. a string with two empty space '==' a empty string )
  dd
    | answer 

dl.query-list
  dt
    | what is the result of: .1 + .2
  dd
    | answer 
