dl.query-list
  dt
    | JavaScript was developed by?
  dd
    | answer 

dl.query-list
  dt
    | What are first-class-functions?
  dd
    | answer 

dl.query-list
  dt
    | What is JSON?
  dd
    | answer 

dl.query-list
  dt
    | What is closure?
  dd
    | answer 

dl.query-list
  dt
    | Immediately-invoked function expression
  dd
    | answer 

dl.query-list
  dt
    | What is hoisting?
  dd
    | answer 

dl.query-list
  dt
    | function declaration vs function expression. Difference with respect to hoisting
  dd
    | answer 

dl.query-list
  dt
    | Types of scope in JavaScript? 
  dd
    | answer

dl.query-list
  dt
    | Is JavaScript single-threaded or multi-threaded?
  dd
    | answer 

dl.query-list
  dt
    | Is JavaScript synchronous or asynchronous?
  dd
    | answer 

dl.query-list
  dt
    | What does 'this' keyword imply?
  dd
    | answer 

dl.query-list
  dt
    | What is the use of 'arguments' keyword?
  dd
    | answer 

dl.query-list
  dt
    | What is the output of .1 + .2?
  dd
    | answer 

dl.query-list
  dt
    | What is the difference between scripting and programming language
  dd
    | answer 

dl.query-list
  dt
    | What are the data types in javascript?
  dd
    | answer 

dl.query-list
  dt
    | How to know the data type of a variable?
  dd
    | answer 

dl.query-list
  dt
    | disadvantage of typeof operator withrespect to object and arrays data types
  dd
    | answer 

dl.query-list
  dt
    | what is the result of : console.log( "hello" &amp;&amp; "world" );
  dd
    | answer

dl.query-list
  dt
    | what is the output of the following program? and why?
    div.code-block
      h2.code-block-heading code block: JavaScript
      pre
        code.hljs.javascript
          | function print() {
          | var foo = [1,2];
          | var bar = foo;
          | bar.pop();
          | console.log(foo);
          | }
  dd
    | answer

dl.query-list
  dt
    | What is the default return value of a function, if no return statement is provided?
  dd
    | answer

dl.query-list
  dt
    | what is the result of: null &amp;&amp; 'hello world'
  dd
    | answer 

dl.query-list
  dt
    | what is the result of: true &amp;&amp; true &amp;&amp; 12345
  dd
    | answer 

dl.query-list
  dt
    | Default value of uninitailized variable?
  dd
    | answer

dl.query-list
  dt
    | what is the result of: null || 'hello world'
  dd
    | answer 

dl.query-list
  dt
    | what is the result of: false || "" || 0 || [] || true
  dd
    | answer 

dl.query-list
  dt
    | difference between '==' and '==='
  dd
    | answer 

dl.query-list
  dt
    | what is the result of: '&nbsp;&nbsp;' == '' ( i.e. a string with two empty space '==' a empty string )
  dd
    | answer 

dl.query-list
  dt
    | what is the result of: .1 + .2
  dd
    | answer 

dl.query-list
  dt
    | how to achieve block scoped variables in javascript?
  dd
    | answer 

dl.query-list
  dt
    | what is the output of the following program:
    div.code-block
      h2.code-block-heading code block: JavaScript
      pre
        code.hljs.javascript
          | function print() {
          |   console.log(this);
          | }
          | print();
  dd
    | answer 

dl.query-list
  dt
    | difference between call and apply.
  dd
    | answer 

dl.query-list
  dt
    | Which object is the parent of all objects in JavaScript?
  dd
    | answer

dl.query-list
  dt
    | Which is the global object in DOM?
  dd
    | answer

dl.query-list
  dt
    | How to clone ( deep clone ) an object in javascript?
  dd
    | answer

dl.query-list
  dt
    | How to add a property to built-in objects like String, Number etc?
  dd
    | answer

dl.query-list
  dt
    | How do we create private variable in javascript?
  dd
    | answer

dl.query-list
  dt
    | within a function, how to access a parameter's value, without using its name?
    div.code-block
      h2.code-block-heading code block: JavaScript
      pre
        code.hljs.javascript
          | function print( color ) {
          | console.log( color );
          | // how to access the value, without using the 'color' parameter. 
          | }
          | print( 'red' );
  dd
    | answer

dl.query-list
  dt
    | What is the use of call and apply method?
  dd
    | answer

dl.query-list
  dt
    | Types of scope in javascript
  dd
    | answer

dl.query-list
  dt
    | How to identify variable type?
  dd
    | answer

dl.query-list
  dt
    | Singleton pattern
  dd
    | answer

dl.query-list
  dt
    | async vs defer attributes
  dd
    | answer

dl.query-list
  dt
    | How to achieve namespace in js? 
  dd
    | answer

dl.query-list
  dt
    | What are the ways in which we can store information on a client's machine using javascript?
  dd
    | answer

dl.query-list
  dt
    | 
  dd
    | answer
