doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="icon", type="image/png", href="/images/favicon.png")
    block title
    // css begin
    link(rel="stylesheet", href="/css/render.css")
    link(rel="stylesheet", href="/css/highlightjs/monokai-sublime.css")
    block css
    // css end
  body
    div(class="doc-wrap")
      // begin content
      block content
      // end content

      script(src="/script/vendor/highlight.pack.js")
      script
        | hljs.initHighlightingOnLoad();
      block script
