extends ../../template/_default-layout.jade

block title
  title Pics

block content
  div.container
    include ../../template/_personal-navigation.jade
    section.page-content
      h1.page-heading Pics
      ul
        li
          img(src="/images/my-favorite-pics/enjoy-life.jpg")
        li
          img(src="/images/my-favorite-pics/21-men-rules.jpg")
