extends ../../template/_default-layout.jade

block title
  title Topics of interest

block content
  div.container
    include ../../template/_personal-navigation.jade
    section.page-content
      h1.page-heading Topics of interest
      include _sub-pages.jade
