div.code-block
  h2.code-block-heading code block: JavaScript
  pre
    code.hljs.javascript
      | /**
      |  * return URL query string as JSON
      |  * @param    {string} key - the query string key 
      |  *
      |  * @returns  {object|string|boolean|number} - returns object if no 'key' is passed 
      |  */
      | var getUrlQueryString = function (key) {
      |   var queryString  = [];
      |   var params       = {};
      |   var urlParams = window.location.search.length > 1? window.location.search.substr(1).split('&') : [];
      |   urlParams.forEach (function (keyval, index) {
      |     queryString = keyval.split('=');
      |     params[queryString[0]] = window.decodeURIComponent(queryString[1]);
      |   });
      |   return typeof key !== "undefined" ? params[key] : params;
      | };
