extends ../../template/_default-layout.jade

block title
  title Get URL query string

block content
  div.container
    include ../../template/_navigation.jade
    section.page-content
      h1.page-heading Get URL query string
      include _sub-pages.jade
