extends ../template/_default-layout.jade

block title
  title Personal

block content
  div.container
    include ../template/_personal-navigation.jade
    section.page-content
      h1.page-heading Personal
      ul
        li
          a(href="/personal/my-heroku-sites") My Heroko Site(s)
        li
          a(href="/personal/build-and-deployment") Build and deployment
        li
          a(href="/personal/my-favorite-pics") My Favorite Pics
        li
          a(href="/personal/i-would-like-to-know-about") I would like to know about
        li
          a(href="/personal/topics-of-interest") Topics of interest
        li
          a(href="/personal/todo") ToDo

          