extends ../../template/_default-layout.jade

block title
  title Build and deployment

block content
  div.container
    include ../../template/_personal-navigation.jade
    section.page-content
      h1.page-heading Build and deployment
      include _sub-pages.jade
