dl.query-list
  dt
    | What is CSS?
  dd
    | answer 

dl.query-list
  dt
    | What are the ways to include styles in a web page?
  dd
    | answer 

dl.query-list
  dt
    | What is box-model?
  dd
    | answer 

dl.query-list
  dt
    | What is the difference between inline and block level elements?
  dd
    | answer 

dl.query-list
  dt
    | What is CSS specificity?
  dd
    | answer 

dl.query-list
  dt
    | List the following in higher order of precedence: Class selector, Id selector, inline style, tag/element selector, 
  dd
    | answer

dl.query-list
  dt
    | Use of box-sizing property? 
  dd
    | answer

dl.query-list
  dt
    | What property in CSS helps to achieve scroll behaviour?
  dd
    | answer

