dl.query-list
  dt
    | What is CSS?
  dd
    | answer 

dl.query-list
  dt
    | What are the ways to include styles in a web page?
  dd
    | answer 

dl.query-list
  dt
    | What is box-model?
  dd
    | answer 

dl.query-list
  dt
    | What is the difference between inline and block level elements?
  dd
    | answer 

dl.query-list
  dt
    | What is CSS specificity?
  dd
    | answer 

dl.query-list
  dt
    | List the following in higher order of precedence: Class selector, Id selector, inline style, tag/element selector, 
  dd
    | answer

dl.query-list
  dt
    | Use of box-sizing property? 
  dd
    | answer

dl.query-list
  dt
    | What property in CSS helps to achieve scroll behaviour?
  dd
    | answer

dl.query-list
  dt
    | What are CSS Image Sprites?
  dd
    | answer

dl.query-list
  dt
    | How do i select all anchor tags that begins with '#' in its href attribute?
  dd
    | answer

dl.query-list
  dt
    | Is it possible to override inline styles from an external style sheet? If yes, how? If no, why?
  dd
    | answer

dl.query-list
  dt
    | What CSS property is used to make a text not wrap?
  dd
    | answer

dl.query-list
  dt
    | How can make a div element tabbable?
  dd
    | answer

dl.query-list
  dt
    | I have an anchor tag in my page; It's opacity is set to 'zero’; Is the anchor tag clickable? Why?
  dd
    | answer

dl.query-list
  dt
    | Which selector takes precedence? Why?
    div.code-block
      h2.code-block-heading code block: CSS
      pre
        code.hljs.css
          | #container.sidebar { border-radius: 5px; }
          | .sidebar#container { border-radius: 0px; }

    div.code-block
      h2.code-block-heading code block: Markup
      pre
        code.hljs.html
          | &lt;div id="container" class="sidebar"&gt;
          | &lt;/div&gt;
  dd
    | answer

dl.query-list
  dt
    | Have you used reset.css or normalize.css? If so, why do we need it?
  dd
    | answer

dl.query-list
  dt
    | I have a background-image, that is too large for its container; What CSS property can be used to fit the background-image within the container?
  dd
    | answer

dl.query-list
  dt
    | I have two paragraphs on a page. The second paragraph's margin-top is set to -100px;
    | <br />
    | What will happen?
    | <br />
    | Which paragraph will be on top of the other?
    | <br />
    | How to reverse the order?
  dd
    | answer

dl.query-list
  dt
    | How can apply a different set of styles to my web page, during print?
  dd
    | answer

dl.query-list
  dt
    | How to write styles that target a retina device?
  dd
    | answer

dl.query-list
  dt
    | What is impact of using 'em' rather than 'pixels' for font-size?
  dd
    | answer

dl.query-list
  dt
    | 
  dd
    | answer
