article.terminology-container
  h2.terminology-heading
    | Sample Heading
  ul.terminology-content
    li
      | Sample Content

article.terminology-container
  h2.terminology-heading
    | CSS
  ul.terminology-content
    li
      | Cascading Style Sheets
    li
      | CSS is a stylesheet language that describes the presentation of an HTML document

article.terminology-container
  h2.terminology-heading
    | Closure
  ul.terminology-content
    li
      | A closure is an inner function that has access to the outer function's context even after the outer function has finished
