article.terminology-container
  h2.terminology-heading
    | Sample Heading
  ul.terminology-content
    li
      | Sample Content

article.terminology-container
  h2.terminology-heading
    | arguments
  ul.terminology-content
    li
      | The 'arguments' object is a local variable available in a function, when controls enters the execution context of a function.
    li
      | It acts as an array, enabling access to its parameters passed to a function using index. eg: arguments[0];

article.terminology-container
  h2.terminology-heading
    | CSS
  ul.terminology-content
    li
      | Cascading Style Sheets
    li
      | CSS is a stylesheet language that describes the presentation of an HTML document

article.terminology-container
  h2.terminology-heading
    | Closure
  ul.terminology-content
    li
      | A closure is an inner function that has access to the outer function's context even after the outer function has finished

article.terminology-container
  h2.terminology-heading
    | Repaint
  ul.terminology-content
    li
      | A repaint occurs when changes are made to an elements skin that changes visibility, but do not affect its layout.
    li
      | Minimize repaint to improve page performane. Checkout <a href="https://csstriggers.com/">https://csstriggers.com/</a>

article.terminology-container
  h2.terminology-heading
    | Reflow
  ul.terminology-content
    li
      | A reflow is triggered when layout of DOM is changed. 
    li
      | Minimize repaint improve page performane; Reflow impacts performance more than a repaint. Checkout <a href="https://csstriggers.com/">https://csstriggers.com/</a>

article.terminology-container
  h2.terminology-heading
    | AMD
  ul.terminology-content
    li
      | Asynchronous Module Definition 
    li
      | AMD style of writing helps to create modular javascript.
    li
      | AMD handles depedencies, by loading and executing the depedencies prior to executing the module
    li
      | AMD helps to load modules on-demand

