extends ../../template/_default-layout.jade

block title
  title Terminology

block content
  div.container
    include ../../template/_navigation.jade
    section.page-content
      h1.page-heading Terminology
      include _sub-pages.jade
