dl.query-list
  dt
    | What is DOCTYPE?
  dd
    | answer 

dl.query-list
  dt
    | What happens if a web page is rendered without using DOCTYPE?
  dd
    | answer 

dl.query-list
  dt
    | What is HTML5?
  dd
    | answer 

dl.query-list
  dt
    | Is HTML5 case-sensitive?
  dd
    | answer 

dl.query-list
  dt
    | What are attributes?
  dd
    | answer 

dl.query-list
  dt
    | What is the use of meta tags?
  dd
    | answer 

dl.query-list
  dt
    | Difference between title tag and title attribute?
  dd
    | answer 

dl.query-list
  dt
    | what is repaint/reflow?
  dd
    | answer 

dl.query-list
  dt
    | How many parallel requests can a browser make, during page load?
  dd
    | answer 

dl.query-list
  dt
    | How to configure viewport using meta tags?
  dd
    | answer 
