extends ../../template/_default-layout.jade

block title
  title HTML interview question and answers

block content
  div.container
    include ../../template/_navigation.jade
    section.page-content
      h1.page-heading HTML interview question and answers
      include _sub-pages.jade
